<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saransuk Portfolio</title>

    <link href="https://fonts.googleapis.com/css2?family=Mali&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mitr:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="/index.css">
</head>

<body>
    <header>
        <h1>Portfolio</h1>
        <div class="sm">
            <a href="/" class="icon"><i class="fab fa-accusoft"></i><span class="tooltiptext">My Portfolio</span></a>
            <a href="/aboutme" class="icon"><i class="fas fa-user-tie"></i></a>
            <a href="/education" class="icon"><i class="fas fa-book-reader"></i></a>
            <a href="/workexperience" class="icon"><i class="fas fa-laptop-house"></i></a>
            <a href="/skill" class="icon"><i class="fas fa-laptop-code"></i></a>
        </div>
    </header>
    <main>
        {{{body}}}
    </main>
</body>

</html>