<div class="container">
        <div class="content3">
            <div id="box1">
                <h3>ประวัติส่วนตัว</h3>
                <div class="block">
                    <div class="spin">
                        <div class="spin-container">
                            <div class="shape">
                                <img src="../img/profile.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <p>ชื่อ : นายศรัณย์สุข ยิ้มย่อง (เนม)</p>
                <p>วันเกิด : วันพุธที่ 5 เมษายน 2543 / อายุ : 20 ปี</p>
                <p>น้ำหนัก : 55 กก. / ส่วนสูง : 173 ซม.</p>
                <p>หมู่เลือด : Group O</p>
                <p>สัญชาติ : ไทย / เชื้อชาติ : ไทย / ศาสนา : พุทธ</p>
                <p>ที่อยู่ : 176/6 ถ.มนตรีสุริยวงศ์ ต.หน้าเมือง อ.เมือง จ.ราชบุรี 70000</p>
                <p>เบอร์โทรศัพท์ : 0966957754</p>
                <p>งานอดิเรก : เล่นเกมส์ เล่นกีต้าร์ ฟังเพลง</p>
                <p>คติประจำใจ : มาเรียนทุกคาบ แต่ไม่ทราบมาเรียนทำ___ไร</p>
                <!-- <button>ตกลง</button> -->
            </div>
        </div>
    </div>