{{!-- <h1>Hello, My Name is {{myData.name}}</h1>
<h2>{{myData.education}}</h2> --}}

<div class="container">
    <div class="content3">
        <div id="box1">
            <h3>My Profile</h3>
            <div class="f_block">
                <div class="f_box">
                    <div class="f_spin-container">
                        <div class="f_shape">
                            <div class="f_bd">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <center>
                <h2>Mr.Saransuk Yimyong</h2>
                <h4>Software Engineering</h4>
                <h4>at Nakhon Pathom Rajabhat University</h4>
            </center>

        </div>
    </div>
</div>