<div class="container" id="container4">
    <div class="content4">
        <div id="box3">
            <h3>Web Skill</h3>
            <div class="card" id="c1">
                <div class="box">
                    <div class="percent">
                        <svg>
                            <circle cx="70" cy="70" r="70"></circle>
                            <circle cx="70" cy="70" r="70"></circle>
                        </svg>
                        <div class="number">
                            <h2>90<span>%</span></h2>
                        </div>
                    </div>
                    <h2 class="text">HTML</h2>
                </div>
            </div>
            <div class="card" id="c2">
                <div class="box">
                    <div class="percent">
                        <svg>
                            <circle cx="70" cy="70" r="70"></circle>
                            <circle cx="70" cy="70" r="70"></circle>
                        </svg>
                        <div class="number">
                            <h2>70<span>%</span></h2>
                        </div>
                    </div>
                    <h2 class="text">CSS</h2>
                </div>
            </div>
            <div class="card" id="c3">
                <div class="box">
                    <div class="percent">
                        <svg>
                            <circle cx="70" cy="70" r="70"></circle>
                            <circle cx="70" cy="70" r="70"></circle>
                        </svg>
                        <div class="number">
                            <h2>60<span>%</span></h2>
                        </div>
                    </div>
                    <h2 class="text">Javascript</h2>
                </div>
            </div>
            <div class="card" id="c4">
                <div class="box">
                    <div class="percent">
                        <svg>
                            <circle cx="70" cy="70" r="70"></circle>
                            <circle cx="70" cy="70" r="70"></circle>
                        </svg>
                        <div class="number">
                            <h2>85<span>%</span></h2>
                        </div>
                    </div>
                    <h2 class="text">PHP</h2>
                </div>
            </div>
            <div class="card" id="c5">
                <div class="box">
                    <div class="percent">
                        <svg>
                            <circle cx="70" cy="70" r="70"></circle>
                            <circle cx="70" cy="70" r="70"></circle>
                        </svg>
                        <div class="number">
                            <h2>79<span>%</span></h2>
                        </div>
                    </div>
                    <h2 class="text">MySQL</h2>
                </div>
            </div>
        </div>
    </div>
</div>