<div class="container">
    <div class="content2">
        <div id="box2">
                <!-- <img src="img/profile.jpg" alt=""> -->
                <h3>ประวัติการทำงาน</h3>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam, modi? Nulla minima repellat accusantium
                eius assumenda, nam sint esse dignissimos debitis aliquid omnis voluptas, sequi eum recusandae ab
                officiis commodi.
            </div>
    </div>
</div>